body { margin:0; padding:0; font-family: Arial, sans-serif; }
a img { border:none; }

.mainWrapper { width:100%; max-width:600px; }

.mainWrapper .rs_searchbox{ width:100%; width:calc(100% - 50px); width:-webkit-calc(100% - 50px); margin:0; color:#505050; background-color:#eee; font-weight:400; text-align:left; padding:15px 25px; position:relative; font-size:13px; font-family:'Open Sans', sans-serif; vertical-align:middle; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -khtml-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; }
.mainWrapper .rs_searchbox form { clear:both; }
.mainWrapper .rs_searchbox .rs_searchbox_hide { display:none; }

.mainWrapper .rs_products { margin:0; padding:0; list-style:none; font-size:16px; min-height:50px; font-family:'Open Sans', sans-serif; }
.mainWrapper .rs_products li { height:50px; line-height:50px; font-weight:700; text-transform:uppercase; margin-right:0; padding:0; background:#eee; color:#505050; cursor: pointer; float:none; width:100%; text-align:center; }
.mainWrapper .rs_products li.highlight_tab { color:#01a7ad; }
.mainWrapper .rs_products li.first_tab { -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -khtml-border-radius:5px 3px 0 0; border-radius:5px 5px 0 0; }
.mainWrapper .rs_products li.last_tab { border-right-color:#010b1a; -moz-border-radius:0; -webkit-border-radius:0; -khtml-border-radius:0; border-radius:0; }
.mainWrapper .rs_products li .rs_product_icon { display:inline-block; *float:left; vertical-align:middle; height:21px; margin:0 5px 0 0; margin-top:-5px; *margin-top:10px; *margin-left:10px; background-image:url(/images/products.png); background-repeat:no-repeat; }
.mainWrapper .rs_products li.highlight_tab .rs_product_icon { background-image:url(/images/products_highlight.png); }
.mainWrapper .rs_products li #iconHotel { width:14px; background-position:-0px -0px; }
.mainWrapper .rs_products li #iconAir { width:20px; background-position:-16px -0px; }
.mainWrapper .rs_products li #iconVP { width:19px; background-position:-39px -0px; }
.mainWrapper .rs_products li #iconCar { width:36px; background-position:-61px -0px; }

.mainWrapper .rs_searchbox .label { display:none; margin-bottom:3px; }
.mainWrapper .rs_searchbox .rs_no_margin { margin-right:0 !important; }

input[type='text']::-ms-clear { display: none; }
select,
.mainWrapper .rs_searchbox .rs_autosuggest,
.mainWrapper .rs_searchbox .rs_from,
.mainWrapper .rs_searchbox .rs_to,
.mainWrapper .rs_searchbox .rs_chk_in,
.mainWrapper .rs_searchbox .rs_chk_out,
.mainWrapper .rs_searchbox .rs_rooms,
.mainWrapper .rs_searchbox .rs_time_in,
.mainWrapper .rs_searchbox .rs_time_out,
.mainWrapper .rs_searchbox .rooms,
.mainWrapper .rs_searchbox .rs_select_box{ border:1px solid #ddd; font-size:13px; color:#505050; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; }
.mainWrapper .rs_searchbox .rs_form_row { margin-bottom:15px;}

.mainWrapper .rs_searchbox .rs_vp_form .rs_form_row { display:inline-block; width:48.3%; margin-right:2%; *float:left; }
.mainWrapper .rs_searchbox .rs_vp_form .rs_rooms_row { display:inline-block; width:100%; margin-right:0; *float:left; }
.mainWrapper .rs_searchbox .rs_vp_form .rs_button_row{ width:100%; }

.mainWrapper .rs_searchbox .rs_air_form .rs_air_options { margin-bottom:10px; }
.mainWrapper .rs_searchbox .rs_air_form .rs_air_options input { vertical-align:middle; margin:-1px 3px 0 0; }
.mainWrapper .rs_searchbox .rs_air_form .rs_air_options label { margin-right:5px; font-size:11px; }
.mainWrapper .rs_searchbox .rs_air_form .rs_form_row { display:inline-block; width:48.3%; margin-right:2%; *float:left; }
.mainWrapper .rs_searchbox .rs_air_form .rs_rooms_row { display:inline-block; width:100%; margin-right:0; *float:left; }
.mainWrapper .rs_searchbox .rs_air_form .rs_button_row{ width:100%; }

.mainWrapper .rs_searchbox .rs_car_form .rs_date { display:none; }
.mainWrapper .rs_searchbox .rs_car_form .rs_form_row { width:48.3%; margin-right:2%; float:left; }
.mainWrapper .rs_searchbox .rs_car_form .rs_last_time { margin-right:0; }
.mainWrapper .rs_searchbox .rs_car_form .rs_pickup_div, .mainWrapper .rs_searchbox .rs_car_form .rs_droppff_div { margin-bottom:0; }

.mainWrapper .rs_searchbox .rs_autosuggest, .mainWrapper .rs_searchbox .rs_from, .mainWrapper .rs_searchbox .rs_to { height:28px; width:100%; width:calc(100% - 12px); width:-webkit-calc(100% - 12px); padding:5px; }

.mainWrapper .rs_searchbox .rs_droppff_div, #air_one_way, #air_multi_dest { display: none; }

.mainWrapper .rs_searchbox .rs_date_input_container{ position:relative; cursor:pointer; }
.mainWrapper .rs_searchbox .rs_date_input_container input{ display:none; }
.mainWrapper .rs_searchbox .rs_chk_in,
.mainWrapper .rs_searchbox .rs_chk_out{ cursor:pointer; background-image:url(../images/calendar.gif); background-position:right; background-repeat:no-repeat; height:28px; width:100%; width:calc(100% - 12px); width:-webkit-calc(100% - 12px); padding:5px; }

.mainWrapper .rs_searchbox .rs_mobi_date_container{ width:45%; color:#333; background-color:white; display:inline-block; *display:inline; zoom:1; border:1px solid #969696; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; text-align: center; margin-bottom:12px; }
.mainWrapper .rs_searchbox .rs_mobi_title{ background:#e4e4e4; padding:7px 0; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }
.mainWrapper .rs_searchbox .rs_mobi_chk_day{ font-size:45px; font-weight:bold; margin:7px 0; }
.mainWrapper .rs_searchbox .rs_mobi_chk_month{ margin-bottom:7px; }
.mainWrapper .rs_searchbox .rs_mobi_in{ float:left; }
.mainWrapper .rs_searchbox .rs_mobi_out{ float:right; }

.mainWrapper .rs_searchbox .rs_date,
.mainWrapper .rs_searchbox .rs_people{ display:inline-block; width:48.3%; margin-right:2%; vertical-align: middle; *float:left; }
.mainWrapper .rs_searchbox .rs_rooms_row{ display:inline-block; width:48.3%; margin-right:2%; vertical-align: middle; *float:left; }
.mainWrapper .rs_searchbox .rs_guest_row{ display:inline-block; width:48.3%; margin-right:0%; vertical-align: middle; *float:left; }

.mainWrapper .rs_searchbox .rs_select_box,
.mainWrapper .rs_searchbox .rs_rooms,
.mainWrapper .rs_searchbox .pax,
.mainWrapper .rs_searchbox .rs_time,
.mainWrapper .rs_searchbox .rooms{ width:100%; display:inline-block; height:40px; padding:5px; }

#childrens_ages span{ margin: 0 0 13px 0; font-size: 14px; font-weight: bold; display:block; }
#childrens_ages select { margin: 0 0 13px 0; margin-right: 2%; min-height: 40px; }

.air_multi_seperator { width: 100%; display: block; }
.air_flight_3, .air_flight_4, .air_flight_5 { display: none; }
.add_rem_flight { display:block; cursor: pointer; color: #005baa; font-size: 14px; font-weight: bold; margin: 5px 0; }
.add_rem_flight:hover { color: #000; text-decoration: underline; }
#rs_air h2 { font-size: 24px; color: #333; }
#rs_air h3 { font-size: 20px; color: #333; }

.mainWrapper .rs_searchbox .rs_button_row{ width:100%; display:inline-block; vertical-align: middle; position:relative; }
.mainWrapper .rs_searchbox .rs_search { padding:1px 6px; background: #01a7ad; border:none; outline:none; width:100%; height:45px; float:none; font-weight:700; margin:0; color:white; font-size:24px; cursor: pointer; font-family:'Open Sans', sans-serif; text-indent:0; text-align:center; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.mainWrapper .rs_searchbox .rs_home_searchbox_contain{ padding:10px 0; background:#0e1892; background-size:100% auto; }
.mainWrapper .rs_searchbox .rs_search_icon { float:right; display:none; margin-top:4px; vertical-align:middle; }

@media only screen and (min-width:450px){
	.mainWrapper .rs_products li { float:left; text-align:left; width:25%; /*width:calc(25% - 25px); width:-webkit-calc(25% - 25px);*/ padding:0 0 0 25px; }
	.mainWrapper .rs_products li.first_tab { -moz-border-radius:5px 0 0 0; -webkit-border-radius:5px 0 0 0; -khtml-border-radius:5px 0 0 0; border-radius:5px 0 0 0; }
	.mainWrapper .rs_products li.last_tab { -moz-border-radius:0 5px 0 0; -webkit-border-radius:0 5px 0 0; -khtml-border-radius:0 5px 0 0; border-radius:0 5px 0 0; }

	.mainWrapper .rs_searchbox .label { display:block; }
	.mainWrapper .rs_searchbox .rs_mobi_date_container{ display:none; }
	.mainWrapper .rs_searchbox .rs_mobi{ display:none; }
	.mainWrapper .rs_searchbox .rs_date_input_container .rs_cal_icon,
	.mainWrapper .rs_searchbox .rs_date_input_container input{ display:block; }

	.mainWrapper .rs_searchbox .rs_vp_form .rs_rooms_row { width:20%; margin-right:2%; }
	.mainWrapper .rs_searchbox .rs_vp_form .rs_button_row{ width:33%; }

	.mainWrapper .rs_searchbox .rs_car_form .rs_date { display:inline-block; }

	.mainWrapper .rs_searchbox .rs_air_form .rs_air_options label { margin-right:10px; font-size:14px; }
	.mainWrapper .rs_searchbox .rs_air_form .rs_rooms_row { width:20%; margin-right:2%; }
	.mainWrapper .rs_searchbox .rs_air_form .rs_button_row{ width:33%; }

	.mainWrapper .rs_searchbox .rs_search { width:135px; text-align:left; float:right; text-indent:5px; }
	.mainWrapper .rs_searchbox .rs_search_icon { display:block; }
	.mainWrapper .rs_searchbox .rs_mobile_room_counter{ display:none; }
	.mainWrapper .rs_searchbox .rs_last_time { margin-right: 0 !important; }
}
