@media (min-width: 800px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 900px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
  .modal-lg {
    width: 900px;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
body {
  margin: 0;
  color: #747474;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;
}
html {
  overflow-x: hidden;
}
img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #a0ce4e;
  text-decoration: none;
}
input,
textarea,
select {
  font: 100% Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: #000;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

	.fusion-fullwidth {
		background-attachment:local;
		background-image: url(http://toffstatic-119d.kxcdn.com/images/banner2.jpg);
		background-position:center top;
		background-repeat:no-repeat;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		border-color:#eae9e9;
		border-bottom-width: 0px;
		border-top-width: 0px;
		border-bottom-style: solid;
		border-top-style: solid;
		padding-bottom:20px;
		padding-left:0px;
		padding-right:0px;
		padding-top:20px;
		width: 100%;
	}

.clearfix:after,
#content:after,
.container:after,
.container-fluid:after,
.row:after,
.modal-footer:after {
  content: "";
  display: table;
  clear: both;
}
.clear {
  clear: both;
}

#header {
  padding: 0 10px 0;
}
.avada-row {
  margin: 0 auto;
  max-width: 940px;
}
.avada-row:after {
  content: "";
  display: block;
  clear: both;
}

#slidingbar-area .fusion-columns,
.footer-area .fusion-columns {
  margin: 0 -15px;
}

#header-sticky .logo,
#header .logo {
  float: left;
  overflow: hidden;
  margin: 31px 0;
}
#header-sticky .logo a,
#header .logo a {
  display: block;
}

#nav.nav-holder .navigation > li > a {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* XXX: search box? */
.mobile-topnav .mobile-nav-item ul {
  visibility: visible;
  opacity: 1;
}

nav#nav,
nav#sticky-nav {
  float: right;
  font: 14px/16px 'MuseoSlab500Regular', arial, helvetica, sans-serif;
  z-index: 99997;
}
#nav ul,
#sticky-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav ul li,
#sticky-nav ul li {
  float: left;
  padding: 0 35px 0 0;
  margin: 0;
}
#nav > ul > li:last-child,
#sticky-nav > ul > li:last-child {
  padding-right: 0 !important;
}
#nav ul li > a,
#sticky-nav ul li > a,
.navigation li.current-menu-ancestor > a {
  display: block;
  height: 83px;
  line-height: 83px;
  border-top: 3px solid transparent;
}
#nav ul li,
#sticky-nav ul li {
  position: relative;
}

body #header-sticky.sticky-header {
  background: transparent;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99997;
  display: none;
  padding: 0;
  width: 100%;
  height: 105px;
}

/* tested */
body #header-sticky.sticky-header .logo {
  margin-top: 0;
  margin-bottom: 0;
  max-height: 65px;
  width: auto;
  float: left;
}
body #header-sticky.sticky-header .sticky-shadow {
  height: 102px;
  background: rgba(255, 255, 255, 0.97);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.sticky-header #sticky-nav ul li a {
  border-top-width: 3px;
}

.sticky-header #sticky-nav ul .current_page_item > a,
.sticky-header #sticky-nav ul .current-menu-item > a,
.sticky-header #sticky-nav ul > .current-menu-parent > a,
.sticky-header .navigation li.current-menu-ancestor > a,
.sticky-header #sticky-nav ul > li > a:hover {
  border-top-width: 3px;
  padding-top: 0;
}

body #header-sticky.sticky-header .sticky-shadow .mobile-nav-holder {
  padding-top: 17px;
}

#main {
  padding: 55px 10px 45px;
  background: #fff;
  clear: both;
}

/* tested */
#main h2 {
  font: 18px/20px 'MuseoSlab500Regular', arial, helvetica, sans-serif;
}
h2 {
  color: #333;
  margin: 0 0 20px;
}

#content {
  width: 71.1702128%;
  float: left;
  min-height: 1px;
}
#content.full-width {
  width: 100%;
}

.footer-widget-col {
  margin-bottom: 20px;
}
.footer-widget-col:last-child {
  margin-bottom: 0;
}

.footer-area {
  border-top: 12px solid #e9eaee;
  background: #363839;
  padding: 43px 10px 40px;
  color: #8c8989;
  position: relative;
  overflow: hidden;
}
.footer-area h3 {
  margin: 0 0 28px;
  color: #ddd;
  text-transform: uppercase;
  font: 13px/20px 'PTSansBold', arial, helvetica, sans-serif;
}
.footer-area .columns {
  margin: 0;
}
.footer-area ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
}
.footer-area ul li a {
  padding: 12px 0;
  border-bottom: 1px solid #282a2b;
  display: block;
}
.footer-area .footer-widget-col:not(.widget_icl_lang_sel_widget) ul:first-child > li:first-child > a,
.footer-area .footer-widget-col:not(.widget_icl_lang_sel_widget) > ul > li:first-child > a {
  background-image: none;
  padding-top: 0px;
}
.footer-area a {
  text-shadow: 1px 2px 1px #000;
  color: #bfbfbf;
}
.footer-area ul li a:hover {
  color: #a0ce4e;
}

#footer {
  z-index: 1;
  position: relative;
  padding: 18px 10px 12px;
  background: #282a2b;
  border-top: 1px solid #4b4c4d;
}
#footer .copyright-area-content {
  display: table;
  width: 100%;
}
.copyright {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #8c8989;
  font-size: 12px;
  text-shadow: 1px 2px 1px #000;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 800px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-sm-10 {
    width: 83.33333333333334%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-sm-7 {
    width: 58.333333333333336%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.666666666666664%;
  }
  .col-sm-1 {
    width: 8.333333333333332%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666666666666%;
  }
  .col-sm-pull-10 {
    right: 83.33333333333334%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666666666666%;
  }
  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666666666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }
  .col-sm-pull-1 {
    right: 8.333333333333332%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666666666666%;
  }
  .col-sm-push-10 {
    left: 83.33333333333334%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666666666666%;
  }
  .col-sm-push-7 {
    left: 58.333333333333336%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666666666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.666666666666664%;
  }
  .col-sm-push-1 {
    left: 8.333333333333332%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-1 {
    width: 8.333333333333332%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .col-md-pull-0 {
    right: 0%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .col-md-push-0 {
    left: 0%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

#header-sticky .avada-row,#header .avada-row, #main .avada-row, .footer-area .avada-row,#slidingbar-area .avada-row, #footer .avada-row, .page-title, .header-social .avada-row, #small-nav .avada-row, .tfs-slider .slide-content-container .slide-content{ max-width:1100px; }

.project-content .project-info h4,.gform_wrapper label,.gform_wrapper .gfield_description,
.footer-area ul, #slidingbar-area ul, .fusion-tabs-widget .tab-holder .news-list li .post-holder a,
.fusion-tabs-widget .tab-holder .news-list li .post-holder .meta{
    font-size:16px;
    line-height:24px;
}

.footer-area h3{color:#565656;}
.footer-area,.footer-area article.col,.footer-area .jtwt,.footer-area .jtwt .jtwt_tweet,.copyright{color:#444444;}
.footer-area a,.footer-area .jtwt .jtwt_tweet a,#wrapper .footer-area .fusion-tabs-widget .tab-holder .tabs li a,.footer-area .fusion-tabs-widget .tab-holder .news-list li .post-holder a,.copyright a,
.footer-area .fusion-accordian .panel-title a{color:#1985c2;}
.footer-area{
	background-color:#f9f9f9;
}

.footer-area{
	border-color:#e9eaee;
}

#footer{
	background-color:#282a2b;
}

#footer{
	border-color:#4b4c4d;
}
.footer-area h3{color:#565656;}
.footer-area,.footer-area article.col,.footer-area .jtwt,.footer-area .jtwt .jtwt_tweet,.copyright{color:#444444;}
.footer-area a,.footer-area .jtwt .jtwt_tweet a,#wrapper .footer-area .fusion-tabs-widget .tab-holder .tabs li a,.footer-area .fusion-tabs-widget .tab-holder .news-list li .post-holder a,.copyright a,
.footer-area .fusion-accordian .panel-title a{color:#1985c2;}
.post-content h3,.project-content h3,#header .tagline,.product-title,#side-header .tagline{
	line-height:24px;
}

.post-content h3,.project-content h3,#header .tagline,.product-title,#side-header .tagline{
	font-size:18px;
		line-height:27px;
}

.post-content h3,.project-content h3,#header .tagline,.product-title,#side-header .tagline{
	line-height:24px;
}

.footer-area  h3,#slidingbar-area  h3{
	font-family:"Source Sans Pro", Arial, Helvetica, sans-serif;
        font-weight: bold;
}

.footer-area .widget_categories li a, .footer-area li.recentcomments, .footer-area ul li a, .footer-area .product_list_widget li, .footer-area .tagcloud a,
#wrapper .footer-area .fusion-tabs-widget .tab-holder,
#wrapper .footer-area .fusion-tabs-widget .tab-holder .news-list li,
.footer-area .widget_recent_entries li,
.footer-area .fusion-accordian .fusion-panel
{border-color: #e2e2e2;}
.footer-area a,.copyright{text-shadow:none;}

.project-content .project-info h4,.gform_wrapper label,.gform_wrapper .gfield_description,
.footer-area ul, #slidingbar-area ul, .fusion-tabs-widget .tab-holder .news-list li .post-holder a,
.fusion-tabs-widget .tab-holder .news-list li .post-holder .meta{
	font-size:16px ;
	line-height:24px ;
}

.footer-area ul {
	font-size:14px !important;
}

.fusion-social-networks .fusion-social-network-icon {
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #46494a;
  display: inline-block;
}
.fusion-social-networks .fusion-social-network-icon:hover {
  opacity: 0.8;
}
.fusion-social-networks .fusion-social-network-icon:before {
  color: inherit;
}
.fusion-social-links-footer {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  width: 40%;
}
.fusion-social-links-footer .fusion-social-networks {
  margin-top: 10px;
}
.fusion-social-links-footer .fusion-social-networks .fusion-social-network-icon {
  margin-right: 0;
  margin-left: 20px;
}
.fusion-social-links-footer .fusion-social-networks .fusion-social-network-icon:first-child {
  margin-left: 0;
}

