html, body { background-color:#ffffff; }

.pad-30-left {
	padding-left: 30px;
}
    .header-wrapper .header-social, .sticky-header .sticky-shadow, .tfs-slider .slide-content, #header, #small-nav, #footer, .footer-area, #slidingbar, .page-title-container{ padding-left: 30px; padding-right: 30px; }
    #main { padding-left: 30px; padding-right: 30px; }
    .width-100, .width-100 .fusion-section-separator {
        padding-left: 30px;
        padding-right: 30px;
    }
    .width-100, .width-100 .fusion-section-separator {
        margin-left: -30px;
        margin-right: -30px;
    }
    /* for full width container with 100% interior checked */
    .width-100 .hundred-percent-fullwidth {
        padding-left: 0px !important; padding-right: 0px !important;
    }

     /* Move responsive code to its own imports */
    .mobile-menu-design-modern #mobile-nav li a, .mobile-header-search { padding-left: 30px; padding-right: 30px; }
    .mobile-menu-design-modern #mobile-nav li.mobile-nav-item .open-submenu { padding-right: 35px; }
    .mobile-menu-design-modern #mobile-nav li.mobile-nav-item li a { padding-left: 42px; }
    .mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li a { padding-left: 55px; }
    .mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li li a { padding-left: 68px; }
    .mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li li li a { padding-left: 81px; }

    .rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item .open-submenu { padding-left: 30px; padding-right: 15px; }
    .rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li a { padding-left: 0; padding-right: 42px; }
    .rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li a { padding-left: 0; padding-right: 55px;    }
    .rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li li a { padding-left: 0; padding-right: 68px; }
    .rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li li li a { padding-left: 0; padding-left: 81px; }

    @media only screen and (max-width: 800px) {
      .mobile-menu-design-modern .header-social { padding-left: 0 !important; padding-right: 0 !important; }
      #side-header{width:auto;}
    }

    @media only screen and (max-width: 1100px) {
        .width-100#main { padding-left: 30px !important; padding-right: 30px !important; }
        .width-100 .fusion-section-separator {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
        , .width-100 .fusion-section-separator {
            margin-left: -30px !important;
            margin-right: -30px !important;
        }
        /* for full width container with 100% interior checked */
        .width-100 .hundred-percent-fullwidth {
            padding-left: 0px !important; padding-right: 0px !important;
        }
    }


    @media only screen and (min-width: 850px) and (max-width: 930px) {
        .grid-layout-6 .post,
        .portfolio-six .portfolio-item {
            width: 20% !important;
        }

        .grid-layout-5 .post,
        .portfolio-five .portfolio-item {
            width: 25% !important;
        }
    }

    @media only screen and (min-width: 800px) and (max-width: 850px) {
        .grid-layout-6 .post,
        .portfolio-six .portfolio-item {
            width: 25% !important;
        }

        .grid-layout-5 .post,
        .portfolio-five .portfolio-item {
            width: 33.3333333333% !important;
        }

        .grid-layout-4 .post,
        .portfolio-four .portfolio-item {
            width: 33.3333333333% !important;
        }
    }

    @media only screen and (min-width: 700px) and (max-width: 800px) {
        .grid-layout-6 .post,
        .portfolio-six .portfolio-item {
            width: 33.3333333333% !important;
        }

        .grid-layout-5 .post,
        .grid-layout-4 .post,
        .grid-layout-3 .post,
        .portfolio-five .portfolio-item,
        .portfolio-four .portfolio-item,
        .portfolio-three .portfolio-item,
        .portfolio-masonry .portfolio-item {
            width: 50% !important;
        }
    }

    @media only screen and (min-width: 640px) and (max-width: 700px) {
        .grid-layout-6 .post,
        .grid-layout-5 .post,
        .grid-layout-4 .post,
        .grid-layout-3 .post,
        .portfolio-six .portfolio-item,
        .portfolio-five .portfolio-item,
        .portfolio-four .portfolio-item,
        .portfolio-three .portfolio-item,
        .portfolio-masonry .portfolio-item {
            width: 50% !important;
        }
    }

    @media only screen and (max-width: 640px) {
        .grid-layout .post,
        .portfolio-item {
            width: 100% !important;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {
        .grid-layout-6 .post,
        .portfolio-six .portfolio-item {
            width: 33.3333333333% !important;
        }

        .grid-layout-5 .post,
        .grid-layout-4 .post,
        .grid-layout-3 .post,
        .portfolio-five .portfolio-item,
        .portfolio-four .portfolio-item,
        .portfolio-three .portfolio-item,
        .portfolio-masonry .portfolio-item {
            width: 50% !important;
        }
    }

    /*IE11 hack */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .avada-select-parent .select-arrow,.select-arrow,
        .wpcf7-select-parent .select-arrow{height:33px;line-height:33px;}
        .gravity-select-parent .select-arrow{height:24px;line-height:24px;}

        #wrapper .gf_browser_ie.gform_wrapper .button,
        #wrapper .gf_browser_ie.gform_wrapper .gform_footer input.button{ padding: 0 20px; }
    }

    a:hover, .tooltip-shortcode, #mobile-nav li.mobile-nav-item .open-submenu:hover {
        color:#ff9933;
    }

    #nav ul .current_page_item > a, #nav ul .current-menu-item > a, #nav ul > .current-menu-parent > a,
    #sticky-nav ul .current_page_item > a, #sticky-nav ul .current-menu-item > a, #sticky-nav ul > .current-menu-parent > a,
    .footer-area ul li a:hover,
    .footer-area .fusion-tabs-widget .tab-holder .news-list li .post-holder a:hover,
    .footer-area .fusion-accordian .panel-title a:hover,
    #slidingbar-area ul li a:hover,
    #slidingbar-area .fusion-accordian .panel-title a:hover,
    .portfolio-tabs li.active a, .faq-tabs li.active a,
    .project-content .project-info .project-info-box a:hover,
    #main .post h2 a:hover,
    #main .about-author .title a:hover,
    span.dropcap,.footer-area a:hover,#slidingbar-area a:hover,.copyright a:hover,
    .sidebar .widget_categories li a:hover,
    .sidebar .widget li a:hover,
    #nav ul li > a:hover, #sticky-nav ul li > a:hover,
    #nav .cart-contents .cart-link a:hover, #nav .cart-contents .checkout-link a:hover, #nav .cart-contents .cart-link a:hover:before, #nav .cart-contents .checkout-link a:hover:before,
    .date-and-formats .format-box i,
    h5.toggle:hover a,
    .tooltip-shortcode,.content-box-percentage,
    .fusion-popover,
    .woocommerce .address .edit:hover:after,
    .my_account_orders .order-actions a:hover:after,
    .more a:hover:after,.read-more:hover:after,.entry-read-more a:hover:after,.pagination-prev:hover:before,.pagination-next:hover:after,.bbp-topic-pagination .prev:hover:before,.bbp-topic-pagination .next:hover:after,
    .single-navigation a[rel=prev]:hover:before,.single-navigation a[rel=next]:hover:after,
    .sidebar .widget_nav_menu li a:hover:before,.sidebar .widget_categories li a:hover:before,
    .sidebar .widget .recentcomments:hover:before,.sidebar .widget_recent_entries li a:hover:before,
    .sidebar .widget_archive li a:hover:before,.sidebar .widget_pages li a:hover:before,
.sidebar .widget_links li a:hover:before,.side-nav .arrow:hover:after,.woocommerce-tabs .tabs a:hover .arrow:after,
#wrapper .jtwt .jtwt_tweet a:hover,
.star-rating:before,.star-rating span:before,.price ins .amount, .avada-order-details .shop_table.order_details tfoot tr:last-child .amount,
.price > .amount,.woocommerce-pagination .prev:hover,.woocommerce-pagination .next:hover,.woocommerce-pagination .prev:hover:before,.woocommerce-pagination .next:hover:after,
.woocommerce-tabs .tabs li.active a,.woocommerce-tabs .tabs li.active a .arrow:after,
#wrapper .cart-checkout a:hover,#wrapper .cart-checkout a:hover:before,
.widget_shopping_cart_content .total .amount,.widget_layered_nav li a:hover:before,
.widget_product_categories li a:hover:before,#header-sticky .my-account-link-active:after,#header .my-account-link-active:after,.woocommerce-side-nav li.active a,.woocommerce-side-nav li.active a:after,.my_account_orders .order-number a,.shop_table .product-subtotal .amount,
.cart_totals .order-total .amount,form.checkout .shop_table tfoot .order-total .amount,#final-order-details .mini-order-details tr:last-child .amount,.rtl .more a:hover:before,.rtl .read-more:hover:before,.rtl .entry-read-more a:hover:before,#header-sticky .my-cart-link-active:after,.header-wrapper .my-cart-link-active:after,#wrapper .sidebar .current_page_item > a,#wrapper .sidebar .current-menu-item > a,#wrapper .sidebar .current_page_item > a:before,#wrapper .sidebar .current-menu-item > a:before,#wrapper .footer-area .current_page_item > a,#wrapper .footer-area .current-menu-item > a,#wrapper .footer-area .current_page_item > a:before,#wrapper .footer-area .current-menu-item > a:before,#wrapper #slidingbar-area .current_page_item > a,#wrapper #slidingbar-area .current-menu-item > a,#wrapper #slidingbar-area .current_page_item > a:before,#wrapper #slidingbar-area .current-menu-item > a:before,.side-nav ul > li.current_page_item > a,.side-nav li.current_page_ancestor > a,
.gform_wrapper span.ginput_total,.gform_wrapper span.ginput_product_price,.ginput_shipping_price,
.bbp-topics-front ul.super-sticky a:hover, .bbp-topics ul.super-sticky a:hover, .bbp-topics ul.sticky a:hover, .bbp-forum-content ul.sticky a:hover, .fusion-accordian .panel-title a:hover, #nav .cart-contents .cart-link a:hover:before, #nav .cart-contents .checkout-link a:hover:before{
    color:#ff9933;
}

#sticky-nav ul .current_page_item > a, #sticky-nav ul .current-menu-item > a, #sticky-nav ul > .current-menu-parent > a, #sticky-nav li.current-menu-ancestor > a,
#nav ul ul,#sticky-nav ul ul,
.reading-box,
.portfolio-tabs li.active a, .faq-tabs li.active a,
#wrapper .fusion-tabs-widget .tab-holder .tabs li.active a,
#wrapper .post-content blockquote,
.progress-bar-content,
.pagination .current,
.bbp-topic-pagination .current,
.pagination a.inactive:hover,
.woocommerce-pagination .page-numbers.current,
.woocommerce-pagination .page-numbers:hover,
#wrapper .fusion-megamenu-wrapper .fusion-megamenu-holder,
#nav ul li > a:hover,#sticky-nav ul li > a:hover,.woocommerce-pagination .current,
.tagcloud a:hover,#header-sticky .my-account-link:hover:after,#header .my-account-link:hover:after,body #header-sticky .my-account-link-active:after,body #header .my-account-link-active:after,
#bbpress-forums div.bbp-topic-tags a:hover,
#wrapper .fusion-tabs.classic .nav-tabs > .active > .tab-link:hover, #wrapper .fusion-tabs.classic .nav-tabs > .active > .tab-link:focus, #wrapper .fusion-tabs.classic .nav-tabs > .active > .tab-link,#wrapper .fusion-tabs.vertical-tabs.classic .nav-tabs > li.active > .tab-link{
    border-color:#ff9933;
}

.mobile-nav-holder .mobile-selector,
.mobile-topnav-holder .mobile-selector,
#mobile-nav {
    background-color: #f9f9f9}
.mobile-nav-holder .mobile-selector, .mobile-topnav-holder .mobile-selector, #mobile-nav, #mobile-nav li a, #mobile-nav li a:hover, .mobile-nav-holder .mobile-selector .selector-down, .mobile-menu-design-modern .header-wrapper #mobile-nav, .sh-mobile-nav-holder.mobile-nav-holder-modern #mobile-nav,
#mobile-nav li.mobile-current-nav-item > a, .mobile-topnav-holder .mobile-selector .selector-down{ border-color: #dadada; }
.mobile-nav-holder .mobile-selector .selector-down:before, .mobile-menu-icons a, .mobile-menu-icons a:before, .mobile-topnav-holder .mobile-selector .selector-down:before{color:#dadada;}
#mobile-nav li > a:hover,
#mobile-nav li.mobile-current-nav-item > a {
    background-color: #f6f6f6}


body #header-sticky.sticky-header .sticky-shadow{background:rgba(255, 255, 255, 0.97);}

#header,#small-nav,#side-header{
    background-color:#ffffff;
    background-color:rgba(255,255,255,1);
}

#main,#wrapper,
.fusion-separator .icon-wrapper, html, body, .bbp-arrow { background-color:#ffffff; }

.footer-area{
    background-color:#f9f9f9;
}

.footer-area{
    border-color:#e9eaee;
}

#footer{
    background-color:#282a2b;
}

#footer{
    border-color:#4b4c4d;
}


.footer-area{

        padding-top: 43px;

        padding-bottom: 40px;
    }
.footer-area > .avada-row, #footer > .avada-row {
        padding-left: 0px;

        padding-right: 0px;
    }



#footer{
        padding-top: 18px;

        padding-bottom: 16px;
    }

body, #nav ul li ul li a, #sticky-nav ul li ul li a,
#wrapper .fusion-megamenu-wrapper .fusion-megamenu-widgets-container,
.more,
.avada-container h3,
.review blockquote div strong,
.image .image-extras .image-extras-content h4,
.image .image-extras .image-extras-content h4 a,
.project-content .project-info h4,
.button-default, .button-large, .button-small, .button-medium,.button-xlarge,
.button.large, .button.small, .button.medium,.button.xlarge,
.ei-title h3,.cart-contents,
.comment-form input[type="submit"],
.wpcf7-form input[type="submit"],
.gform_wrapper .gform_button,
.woocommerce-success-message .button,
.woocommerce .single_add_to_cart_button,
.woocommerce button.button,
.woocommerce .shipping-calculator-form .button,
.woocommerce form.checkout #place_order,
.woocommerce .checkout_coupon .button,
.woocommerce .login .button,
.woocommerce .register .button,
.page-title h3,
#reviews #comments > h2,
.image .image-extras .image-extras-content h3,
.image .image-extras .image-extras-content h2,
.image .image-extras .image-extras-content a,
.image .image-extras .image-extras-content .cats,
.image .image-extras .image-extras-content .cats a,
.image .image-extras .image-extras-content .price,
#wrapper #nav ul li ul li > a, #wrapper #sticky-nav ul li ul li > a,
#bbp_user_edit_submit,
.ticket-selector-submit-btn[type=submit],
.gform_page_footer input[type=button]{
    font-family:"Source Sans Pro", Arial, Helvetica, sans-serif;
}

.avada-container h3,
.review blockquote div strong,
.footer-area  h3,
#slidingbar-area  h3,
.button-default, .button-large, .button-small, .button-medium,.button-xlarge,
.button.large, .button.small, .button.medium,.button.xlarge,
.woocommerce .single_add_to_cart_button,
.woocommerce button.button,
.woocommerce .shipping-calculator-form .button,
.woocommerce form.checkout #place_order,
.woocommerce .checkout_coupon .button,
.woocommerce .login .button,
.woocommerce .register .button,
.woocommerce .avada-order-details .order-again .button,
.comment-form input[type="submit"],
.wpcf7-form input[type="submit"],
.gform_wrapper .gform_button,
#bbp_user_edit_submit,
.ticket-selector-submit-btn[type=submit],
.gform_page_footer input[type=button]{
    font-weight:bold;
}

#nav, #sticky-nav, .navigation,
.side-nav li a{
    font-family:"Montserrat", Arial, Helvetica, sans-serif;
}

#main .reading-box h2,
#main h2,
.page-title h1,
.image .image-extras .image-extras-content h3,.image .image-extras .image-extras-content h3 a,
#main .post h2,
.sidebar .widget h3,
#wrapper .fusion-tabs-widget .tab-holder .tabs li a,
.share-box h4,
.project-content h3,
.author .author_title,
.fusion-pricing-table .title-row,
.fusion-pricing-table .pricing-row,
.fusion-person .person-desc .person-author .person-author-wrapper,
.fusion-accordian .panel-title,
.fusion-accordian .panel-heading a,
.fusion-tabs .nav-tabs  li .tab-link,
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6,
.ei-title h2, #header-sticky,#header .tagline,
table th,.project-content .project-info h4,
.woocommerce-success-message .msg,.product-title, .cart-empty,
#wrapper .fusion-megamenu-wrapper .fusion-megamenu-title,
.main-flex .slide-content h2, .main-flex .slide-content h3,
.fusion-modal .modal-title, .popover .popover-title,
.fusion-flip-box .flip-box-heading-back{
    font-family:"Source Sans Pro", Arial, Helvetica, sans-serif;
}


.footer-area  h3,#slidingbar-area  h3{
    font-family:"Source Sans Pro", Arial, Helvetica, sans-serif;
}

body,.sidebar .slide-excerpt h2, .footer-area .slide-excerpt h2,#slidingbar-area .slide-excerpt h2,
.jtwt .jtwt_tweet, .sidebar .jtwt .jtwt_tweet {
    font-size:16px;
        line-height:24px;
}
.project-content .project-info h4,.gform_wrapper label,.gform_wrapper .gfield_description,
.footer-area ul, #slidingbar-area ul, .fusion-tabs-widget .tab-holder .news-list li .post-holder a,
.fusion-tabs-widget .tab-holder .news-list li .post-holder .meta{
    font-size:16px;
        line-height:24px;
}

body,.sidebar .slide-excerpt h2, .footer-area .slide-excerpt h2,#slidingbar-area .slide-excerpt h2,.post-content blockquote, .review blockquote q{
    line-height:20px;
}

#nav,#sticky-nav,.navigation{font-size:16px;}

.footer-area h3{font-size:13px;line-height:13px;}

.copyright{font-size:12px;}

#header-sticky .avada-row,#header .avada-row, #main .avada-row, .footer-area .avada-row,#slidingbar-area .avada-row, #footer .avada-row, .page-title, .header-social .avada-row, #small-nav .avada-row, .tfs-slider .slide-content-container .slide-content{ max-width:1100px; }


.post-content h1{
    font-size:35px;
        line-height:53px;
}

.post-content h1{
    line-height:48px;
}

.post-content h3,.project-content h3,#header .tagline,.product-title,#side-header .tagline{
    font-size:18px;
        line-height:27px;
}
.post-content h3,.project-content h3,#header .tagline,.product-title,#side-header .tagline{
    line-height:24px;
}

body,.post .post-content,.post-content blockquote,#wrapper .fusion-tabs-widget .tab-holder .news-list li .post-holder .meta,.sidebar .jtwt,#wrapper .meta,.review blockquote div,.search input,.project-content .project-info h4,.title-row,.simple-products-slider .price .amount,
.quantity .qty,.quantity .minus,.quantity .plus,.timeline-layout h3.timeline-title, .blog-timeline-layout h3.timeline-title, #reviews #comments > h2,
.sidebar .widget_nav_menu li, .sidebar .widget_categories li, .sidebar .widget_product_categories li, .sidebar .widget_meta li, .sidebar .widget .recentcomments, .sidebar .widget_recent_entries li, .sidebar .widget_archive li, .sidebar .widget_pages li, .sidebar .widget_links li, .sidebar .widget_layered_nav li, .sidebar .widget_product_categories li
{color:#747474;}

.post-content h1,.title h1,.woocommerce-success-message .msg, .woocommerce-message{
    color:#333333;
}

#main .post h2,.post-content h2,.fusion-title h2,.title h2,.woocommerce-tabs h2,.search-page-search-form h2, .cart-empty, .woocommerce h2, .woocommerce .checkout h3{
    color:#333333;
}

.post-content h3,.sidebar .widget h3,.project-content h3,.fusion-title h3,.title h3,#header .tagline,.person-author-wrapper span,.product-title,#side-header .tagline{
    color:#333333;
}

body a,
body a:before,
body a:after,
.single-navigation a[rel="prev"]:before,
.single-navigation a[rel="next"]:after
{color:#333333;}

.footer-area h3{color:#565656;}

.footer-area,.footer-area article.col,.footer-area .jtwt,.footer-area .jtwt .jtwt_tweet,.copyright{color:#fff;}

.footer-area a,.footer-area .jtwt .jtwt_tweet a,#wrapper .footer-area .fusion-tabs-widget .tab-holder .tabs li a,.footer-area .fusion-tabs-widget .tab-holder .news-list li .post-holder a,.copyright a,
.footer-area .fusion-accordian .panel-title a{color:#1985c2;}

#nav ul li > a,#sticky-nav ul li > a,.side-nav li a,#header-sticky .cart-content a,#header-sticky .cart-content a:hover,#header .cart-content a,#header .cart-content a:hover, #side-header .cart-content a:hover,#small-nav .cart-content a,
#small-nav .cart-content a:hover,#wrapper .header-social .top-menu .cart > a,#wrapper .header-social .top-menu .cart > a > .amount, #wrapper .fusion-megamenu-wrapper .fusion-megamenu-title,#wrapper .fusion-megamenu-wrapper .fusion-megamenu-title a,.my-cart-link:after,a.search-link:after, .top-menu .cart > a:before, .top-menu .cart > a:after
{color:#1985c2;}

#nav ul .current-menu-ancestor > a, .navigation li.current-menu-ancestor > a, #sticky-nav li.current-menu-ancestor > a,#nav ul .current_page_item > a, #nav ul .current-menu-item > a, #nav ul > .current-menu-parent > a, #nav ul ul,#wrapper .fusion-megamenu-wrapper .fusion-megamenu-holder,.navigation li.current-menu-ancestor > a,#nav ul li > a:hover,
#sticky-nav ul .current_page_item > a, #sticky-nav ul .current-menu-item > a, #sticky-nav ul > .current-menu-parent > a, #sticky-nav ul ul,#sticky-nav li.current-menu-ancestor > a,.navigation li.current-menu-ancestor > a,#sticky-nav ul li > a:hover,
#header-sticky .my-cart-link-active:after, .header-wrapper .my-cart-link-active:after, #side-header .my-cart-link-active:after
{color:#ff9933;border-color:#ff9933;}

@media only screen and (max-width: 800px){
    .mobile-menu-design-modern #wrapper .header-social .top-menu .cart > a, .mobile-menu-design-modern #wrapper .header-social .top-menu .cart > a:before {color:#747474;}
}

.footer-area .widget_categories li a, .footer-area li.recentcomments, .footer-area ul li a, .footer-area .product_list_widget li, .footer-area .tagcloud a,
#wrapper .footer-area .fusion-tabs-widget .tab-holder,
#wrapper .footer-area .fusion-tabs-widget .tab-holder .news-list li,
.footer-area .widget_recent_entries li,
.footer-area .fusion-accordian .fusion-panel
{border-color: #e2e2e2;}

.input-text, input[type="text"], textarea,
input.s,#comment-input input,#comment-textarea textarea,.comment-form-comment textarea, .post-password-form .password,
.wpcf7-form .wpcf7-text,.wpcf7-form .wpcf7-quiz,.wpcf7-form .wpcf7-number,.wpcf7-form textarea,.wpcf7-form .wpcf7-select,.wpcf7-captchar,.wpcf7-form .wpcf7-date,
.gform_wrapper .gfield input[type=text],.gform_wrapper .gfield input[type=email],.gform_wrapper .gfield textarea,.gform_wrapper .gfield select,
#bbpress-forums .bbp-search-form #bbp_search,.bbp-reply-form input#bbp_topic_tags,.bbp-topic-form input#bbp_topic_title, .bbp-topic-form input#bbp_topic_tags, .bbp-topic-form select#bbp_stick_topic_select, .bbp-topic-form select#bbp_topic_status_select,#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content,.bbp-login-form input,
.main-nav-search-form input,.search-page-search-form input,.chzn-container-single .chzn-single,.chzn-container .chzn-drop,
.avada-select-parent select,.avada-select-parent .select-arrow, #wrapper .select-arrow,
select,
#lang_sel_click a.lang_sel_sel,
#lang_sel_click ul ul a, #lang_sel_click ul ul a:visited,
#lang_sel_click a, #lang_sel_click a:visited,#wrapper .search-table .search-field input{
background-color:#ffffff;}

.input-text, input[type="text"], textarea,
input.s,input.s .placeholder,#comment-input input,#comment-textarea textarea,#comment-input .placeholder,#comment-textarea .placeholder,.comment-form-comment textarea, .post-password-form .password,
.wpcf7-form .wpcf7-text,.wpcf7-form .wpcf7-quiz,.wpcf7-form .wpcf7-number,.wpcf7-form textarea,.wpcf7-form .wpcf7-select,.wpcf7-select-parent .select-arrow,.wpcf7-captchar,.wpcf7-form .wpcf7-date,
.gform_wrapper .gfield input[type=text],.gform_wrapper .gfield input[type=email],.gform_wrapper .gfield textarea,.gform_wrapper .gfield select,
select,
#bbpress-forums .bbp-search-form #bbp_search,.bbp-reply-form input#bbp_topic_tags,.bbp-topic-form input#bbp_topic_title, .bbp-topic-form input#bbp_topic_tags, .bbp-topic-form select#bbp_stick_topic_select, .bbp-topic-form select#bbp_topic_status_select,#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content,.bbp-login-form input,
.main-nav-search-form input,.search-page-search-form input,.chzn-container-single .chzn-single,.chzn-container .chzn-drop,.avada-select-parent select, #wrapper .search-table .search-field input
{color:#aaa9a9;}

.input-text, input[type="text"], textarea,
input.s,#comment-input input,#comment-textarea textarea,.comment-form-comment textarea, .post-password-form .password,
.wpcf7-form .wpcf7-text,.wpcf7-form .wpcf7-quiz,.wpcf7-form .wpcf7-number,.wpcf7-form textarea,.wpcf7-form .wpcf7-select,.wpcf7-select-parent .select-arrow,.wpcf7-captchar,.wpcf7-form .wpcf7-date,
.gform_wrapper .gfield input[type=text],.gform_wrapper .gfield input[type=email],.gform_wrapper .gfield textarea,.gform_wrapper .gfield_select[multiple=multiple],.gform_wrapper .gfield select,.gravity-select-parent .select-arrow,.select-arrow,
#bbpress-forums .quicktags-toolbar,#bbpress-forums .bbp-search-form #bbp_search,.bbp-reply-form input#bbp_topic_tags,.bbp-topic-form input#bbp_topic_title, .bbp-topic-form input#bbp_topic_tags, .bbp-topic-form select#bbp_stick_topic_select, .bbp-topic-form select#bbp_topic_status_select,#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content,#wp-bbp_topic_content-editor-container,#wp-bbp_reply_content-editor-container,.bbp-login-form input,
.main-nav-search-form input,.search-page-search-form input,.chzn-container-single .chzn-single,.chzn-container .chzn-drop,
.avada-select-parent select,.avada-select-parent .select-arrow,
select,
#lang_sel_click a.lang_sel_sel,
#lang_sel_click ul ul a, #lang_sel_click ul ul a:visited,
#lang_sel_click a, #lang_sel_click a:visited,
#wrapper .search-table .search-field input
{border-color:#d2d2d2;}

.header-social,.header-v2 #header,.header-v3 #header,.header-v4 #header, .header-v5 #header, #header,.header-v4 #small-nav,.header-v5 #small-nav, .header-social .alignleft{
    border-bottom-color:#e5e5e5;
}

#content{
    width:71%;
}

@media only screen and (max-width: 940px){
    .page-title .breadcrumbs{display:none;}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
    .page-title .breadcrumbs{display:none;}
}

#nav.nav-holder .navigation > li > a{height:85px;line-height:85px;}

#nav ul li, #sticky-nav ul li { padding-right: 45px; }

#nav ul li > a, #sticky-nav ul li > a, .navigation li.current-menu-ancestor > a,
#nav ul li > a, #sticky-nav ul li > a, .navigation li.current-menu-ancestor > a
{ border-top-width: 3px;}

.footer-area a,.copyright{text-shadow:none;}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #wrapper .page-title-container{
        height:87px !important;
    }
}

#side-header .side-header-content, #side-header #nav.nav-holder .navigation > li > a, .header-wrapper .header-social .avada-row, .header-wrapper #header .avada-row, #header-sticky .avada-row, .header-v4 #small-nav .avada-row { padding-left: 0px; }

#side-header .side-header-content, #side-header #nav.nav-holder .navigation > li > a, .header-wrapper .header-social .avada-row, .header-wrapper #header .avada-row, #header-sticky .avada-row, .header-v4 #small-nav .avada-row { padding-right: 0px; }


@media only screen and (min-width: 801px) and (max-width: 1014px){
    #wrapper{
        width:auto;
    }
}

@media only screen and (min-device-width: 801px) and (max-device-width: 1014px){
    #wrapper{
        width:auto;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait){
    #nav > ul > li, #sticky-nav > ul > li { padding-right: 25px; }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){
    #nav > ul > li, #sticky-nav > ul > li { padding-right: 25px; }
}

#main{
    padding-top: 55px;
    padding-bottom: 40px;
}

.width-100 .fusion-section-separator {
    margin-left: -30px; margin-right: -30px;
}

.rs_search_icon {
  display: none !important;
}

.rs_search {
  text-transform: uppercase;
  width: 100% !important;
  text-align: center !important;
  background: #fbac1e !important;
}
