/*
 Version:      1.0.0
*/

@import url('/css/rs_calendar_style.css');
@import url('/css/rs_searchbox.css');





/* =============
	booking form
===============*/
#main { padding-top: 0px !important;}
.mainWrapper { margin: auto; }
.mainWrapper .rs_products, #rs_multi { width:100%; }
#booking { text-align:center; padding:50px 0; background-size: 100%;}
#booking h1 { color:#fff; }
#booking h2 { color:#fff;}

/* =============
	email form
===============*/
/* styles the required text */
.wpcf7-form p {
  color: #fff;
}

/* styles the input box */
.wpcf7-form {
	text-align:center;
}

.wpcf7-form .wpcf7-text {

	border-radius: 5px;

	width: 500px;

	padding: 20px;

	font-size: 18px;

	font-weight: bold;

	text-align: center;

	margin:auto;

	display:block;

}



/* styles the submit button */

.wpcf7-form input[type="submit"] {

	width: 200px;

	margin: auto;

	display: block;

	font-size: 25px;

	border-radius: 5px !important;

	padding: 10px;

}





/* styles for less than 800px */

@media only screen and (max-width: 800px) {

/* clears the columns */

.fusion-column {

	clear:both;

}



}
